.footerList {
  &__header {
    font-size: var(--base-font);
    margin-bottom: 10px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;

    li {
      font-size: var(--base-font);
      list-style: none;
      color: var(--gray);
      font-size: var(--base-font);
    }
  }
}
