.bookingDetailsDesktopFooter {
  @media screen and (max-width: 540px) {
    display: none;
  }

  &__top {
  }

  &__bottom {
    padding: 30px var(--side-padding);
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @media screen and (max-width: 1130px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
