.bookingDetailsPage {
  &__header {
  }

  &__main {
    // padding: 30px var(--side-padding);
    max-width: var(--max-width);
    margin: 0 auto;

    @media screen and (max-width: 768px) {
      padding-top: 0;
    }
  }

  &__footer {
    background-color: var(--very-light-gray);
    border-top: 1px solid var(--border-color);
  }
}
