.desktopNavigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  max-width: 100%;

  gap: 150px;

  @media screen and (max-width: 950px) {
    gap: 20px;
  }

  // @media screen and (max-width: 950px) {
  //   > *:nth-child(2) {
  //     flex: 1;
  //     justify-self: flex-start;
  //   }
  // }

  &__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex: 1;

    @media screen and (max-width: 950px) {
      justify-content: flex-start;
      gap: 20px;
    }

    &_logo {
      > *:first-child {
        display: inline-block;
      }

      > *:last-child {
        display: none;
      }

      @media screen and (max-width: 1130px) {
        > *:first-child {
          display: none;
        }

        > *:last-child {
          display: inline-block;
        }
      }
    }
  }
}
