.taxToggle {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  padding: 20px;
  border-radius: var(--border-radius);

  width: 90%;
  max-width: 700px;
  margin: 0 auto;

  //   @media screen and (max-width: 950px) {
  //     width: 70%;
  //   }

  @media screen and (max-width: 768px) {
    width: 100%;
    max-width: 100%;
    padding: 15px;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    flex: 1;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
    }

    > h3 {
      font-size: var(--base-font);
      color: var(--black);
    }

    &_break {
      height: 30px;
      width: 1px;
      background-color: var(--border-color);

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    > span {
      color: var(--light-gray);
      font-size: var(--base-font);
    }
  }
}
